.create-page{

    height:100vh;

    display:flex;

    flex-direction:column;

    background:#f5f5f5;
}

.create-body{

    flex:1;

    display:flex;
}

.create-content{

    flex:1;

    padding:50px;
}

.create-content h1{

    margin-bottom:40px;

    color:#222;
}

.form-grid{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:25px;
}

.buttons{

    margin-top:40px;

    display:flex;

    gap:20px;

    width:500px;
}

.buttons a{

    flex:1;

    text-decoration:none;
}

.buttons button{

    width:100%;
}